.content {
    /* position: sticky; */
    color: black;
}
.about-us-content {
    background: linear-gradient(
            rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.85)
        ),
        url(../images/about-us.jpg) no-repeat center center fixed;
    background-size: cover;
}

.about-us-content .content {
    padding: 1em;
}

