@import url(https://fonts.googleapis.com/css?family=Niconne|Cardo|Oswald|Montserrat);
:root {
    --purple: #8d6c9f;
    --dusty-pink: #cda1a7;
    --pink: #e39eb1;
    --goldy-yellow: #f9e3ae;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}
.logo {
    margin: 10px;
    text-align: center;
    font-size: 64px;
    font-family: "Montserrat", "Cardo", "Oswald";
}

.header {
    font-size: 48px;
    font-family: "Niconne", cursive;
    border-bottom: 15px solid var(--purple);
    display: flex;
    justify-content: space-around;
}

.header a {
    text-decoration: none;
    color: black;
}

.nav-mobile {
        display: none;
    }

.footer {
    font-size: 20px;
    font-family: "Cardo", "Oswald", "Montserrat";
    background-color: var(--pink);
    grid-template-columns: 10vw 10vw 50vw;
    display: grid;
    grid-gap: 5vw;
    text-align: right;
    align-items: center;
    padding: 0 20px;
}

.footer,
.push {
    height: 90px;
}

.footer img {
    width: 4vw;
}

.footer a {
    text-decoration: none;
    color: black;
}

.wrapper-for-everything-except-footer {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -90px;
}
.content {
    font-size: 36px;
    font-family: "Montserrat", "Cardo", "Oswald";
    padding: 0 1em;
}

.subheader {
    font-size: 48px;
    font-family: "Montserrat", "Cardo", "Oswald";
    background-color: var(--dusty-pink);
    background-clip: border-box;
    width: max-content;
}

@media only screen and (max-width: 800px) {
    .header {
        font-size: 24px;
    }
}

/* mobile only */
@media only screen and (max-width: 40em) {
    .header {
        font-size: 24px;
    }

    .footer img {
        width: 7vw;
    }

    .content {
        font-size: 22px;
    }

    /* .flex-container img {
        opacity: 0;
    } */

    .subheader {
        font-size: 32px;
    }

    .nav-desktop {
        display: none;
        border-bottom: 15px solid var(--purple);
    }

    .nav-mobile {
        display: block;
        width: 100%;
        height: auto;
        margin: 2px;
    }

    .nav-mobile:hover{
        background-color: var(--pink);
    }

}

/* very small screes*/

@media only screen and (max-width: 300px) {
    .logo {
        font-size: 34px;
    }
}
