.cakes-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 520px);
    grid-gap: 40px;
    justify-content: space-evenly;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: repeat(3, auto);
}

figure {
    margin: 0;
}

#wc-img-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 5;
}

.wc-gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wc-text {
    background-color: var(--goldy-yellow);
    text-align: center;
    margin: 0;
    grid-column-start: auto;
    font-size: 30px;
}

.cupcakes-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 10px;
    justify-content: space-evenly;
}

.cupcake-grid {
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: auto;
}

.cupcake-gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cupcake-text {
    background-color: var(--goldy-yellow);
    text-align: center;
    margin: 0;
    font-size: 30px;
}

#c-img-1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

@media only screen and (max-width: 40em) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 100px);
    }

    .wc-text {
        margin-bottom: 30px;
        font-size: 26px;
    }

    .cupcake-text {
        font-size:26px;
    }
    .cakes-grid-container {
        display: block;
    }
}
