
.content {
    color: black;
}
.about-us-content {
    background: linear-gradient(
            rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.85)
        ),
        url(/images/contact-us.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 60vh;
}

.about-us-content .content {
    padding: 1em;
}