@import url(https://fonts.googleapis.com/css?family=Niconne|Cardo|Oswald|Montserrat);
:root {
    --purple: #8d6c9f;
    --dusty-pink: #cda1a7;
    --pink: #ed7899;
    --goldy-yellow: #f9e3ae;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}
.logo {
    margin: 10px;
    text-align: center;
    font-size: 64px;
    font-family: "Montserrat", "Cardo", "Oswald";
}

.header {
    font-size: 48px;
    font-family: "Niconne", cursive;
    border-bottom: 15px solid var(--purple);
    display: flex;
    justify-content: space-around;
}

.header a {
    text-decoration: none;
    color: black;
}

.footer {
    font-size: 20px;
    font-family: "Cardo", "Oswald", "Montserrat";
    background-color: var(--pink);
    grid-template-columns: 10vw 10vw 50vw;
    display: grid;
    grid-gap: 5vw;
    text-align: right;
    align-items: center;
    line-height: 50px;
    padding: 0 20px;
}

.footer,
.push {
    height: 90px;
}

.footer img {
    width: 4vw;
}

.footer a {
    text-decoration: none;
    color: black;
}

.wrapper-for-everything-except-footer {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -90px;
}
.content {
    font-size: 36px;
    font-family: "Montserrat", "Cardo", "Oswald";
}

.subheader {
    font-size: 48px;
    font-family: "Montserrat", "Cardo", "Oswald";
}




@media only screen and (max-width: 40em) {
    .header {
        font-size: 6vw;
    }

    .footer img {
        width: 7vw;
    }

    .content {
        font-size: 6vw;
    }

    .flex-container img {
        opacity: 0;
    }
}
