@import url(https://fonts.googleapis.com/css?family=Niconne|Cardo|Oswald|Montserrat);
:root {
    --purple: #8d6c9f;
    --dusty-pink: #cda1a7;
    --pink: #ed7899;
    --goldy-yellow: #f9e3ae;
}

.logo {
    font-size: 64px;
    font-family: "Montserrat", "Cardo", "Oswald";
}

.header {
    font-size: 48px;
    font-family: "Niconne", cursive;
    border-bottom: 15px solid var(--purple);
    display: flex;
    justify-content: space-around;
}

.header a {
    text-decoration: none;
    color: black;
}

.footer {
    padding-left: 10vw;
    background-color: aqua;
    font-size: 18px;
    font-family: "Cardo", "Oswald", "Montserrat";
    grid-template-columns: 10vw 10vw 1fr;
    display: grid;
    grid-gap: 5vw;
    justify-content:space-around;
}

.footer img {
    width: 4vw;
}


.social-media{
    display: flex;
    justify-items: space-around;
}

.content {
    font-size: 36px;
    font-family: "Montserrat", "Cardo", "Oswald";
}

.subheader {
    font-size: 48px;
    font-family: "Montserrat", "Cardo", "Oswald";
}

body {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 40em) {
    .header {
        font-size: 6vw;
    }
}
